
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/Teacher/Show" method="post">
    <label>Select Teacher Number</label>
    <input type="number" name="teacherid" value="" />
    <input type="submit" name="name" value="View Teacher" />
</form>
